<html>
    <head>
        <title>Search Covid</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <form action="/search" method = "GET">
            <p>Inserisci il nome della regione <input type = "text" name = "regione" /></p>
            <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
        </form>
    </body>
</html>